<!-- {% extends 'base.html' %}

{% block content %} 
  
    <h3 class="h3 text-center mb-5">Lyrically speaking...</h3>
    <div>
    
        <div class="col-lg-6 col-md-12 px-4">
                <p>Music is the ocean</br>
                That pulls me to the shore.</br>
                Music is the rhythm</br>
                That moves me to the core.</br>
                Music is the therapy</br>
                I need when I feel blue.</br>
                Music lifts my spirits</br>
                To make sure I pull throughv.
                The times when I'm most cheerful,</br>
                It's clear music was there.</br>
                Music is the needed friend</br>
                When no one seems to care.</br>            
                Music comes to me more readily than words.</br>
                The only love affair I have ever had was with music.</br>
                Music brings a warm glow to my vision, thawing mind and muscle from their endless wintering.</br>
                Music is the divine way to tell beautiful, poetic things to the heart.</br>
                Music produces a kind of pleasure which human nature cannot do without.</br>
                </p>
        </div>
    <div class="col-lg-6 col-md-12">
            <img src="https://cdn.pixabay.com/photo/2020/02/07/04/42/painting-4826105_960_720.jpg" alt="">
    </div>
    </div>
{% endblock %} -->
