
 <!--Carousel Wrapper-->
 <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">        
           <!--Video source-->
           <video class="video-intro" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/city.mp4" type="video/mp4">
          </video>
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Music Notes<i class="fas fa-music"></i></strong>
                <hr class="hr-light">
              </h1>            
              <p class="mb-4 d-none d-md-block">
                <strong>Music, once admitted to the soul, becomes a sort of spirit and never dies.
                </strong>
                
              </p>
              <a target="_blank" href="{{url_for('auth.login')}}" class="btn btn-outline-white btn-lg">Login
                
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
              <a target="_blank" href="{{url_for('auth.register')}}" class="btn btn-outline-white btn-lg">Register
                
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
             
            </div>
           

          </div>
          

        </div>
      </div>
   

    
    </div>  

  </div>
  <!--/.Carousel Wrapper-->
  